.horizontal-accordian__container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}


.horizontal-accordian__container img{
  min-width: 405px;
  min-height: 239px;
  max-width: 405px;
  max-height: 239px;
  width: 405px;
  height: 239px;
  margin: 0 26px 0 20px;
  border-radius: 48px;
  border: solid 1px #707070;
  object-fit: cover;
}

.horizontal-accordian__container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.horizontal-accordian__container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}